.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;

}

.certifications p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    color: #b4b4b4;
}


@media (max-width: 768px) {
    .container {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #78bd48;
        gap: 10px;
    }

    .certifications p {
        color: #ffffff;
    }

    .certifications img {
        filter: brightness(0) invert(1); 
    }
}